#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(78, 164, 222);
}

.map {
  width: 100%;
  height: auto;
}

svg path:hover {
  cursor: pointer;
  fill: rgb(167, 126, 126);
}

.selected {
  background-color: rgb(222, 220, 220);
}
